











  



/*======================*/
.footer.footer-alternate {
    background: #4d4d4d;
    color: #fff;
    margin: 0;
}
.footer {
    margin-bottom: 1rem;
}
.footer.footer-alternate .back-to-top {
    margin: 0;
}
.footer a {
    font-size: 13px;
    line-height: 15px;
    color: #666;
    text-decoration: none;
}
.back-to-top, .back-to-top a {
    color: #ffa100;
}
.back-to-top {
    background-color: #ececec;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.footer.footer-alternate .back-to-top-icon {
    font-size: 18px;
    vertical-align: middle;
    margin: -2px 4px 0 0;
}
.footer.footer-alternate .back-to-top:hover {
    color: #005da2;
    text-decoration: none;
}
.footer.footer-alternate .footer-upper {
    padding: 22px 20px 26px;
}
.footer.footer-alternate .row {
    padding: 0;
}
.footer.footer-alternate .footer-col-1 {
    float: left;
}
.footer.footer-alternate .footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer.footer-alternate .footer-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer.footer-alternate .footer-nav-section {
    margin: 17px 0;
}

.footer.footer-alternate .footer-nav-title {
    position: relative;
}
.footer.footer-alternate .footer-nav-title a {
    min-width: 0;
    width: 215px;
}
.footer.footer-alternate .footer-nav-title a {
    
    display: inline-block;
    background: #3b3b3b;
    padding: 14px 18px 14px 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer.footer-alternate .footer-nav a {
    font-size: .875rem;
    color: #fff;
}
.footer a {
    
    line-height: 15px;
   
    text-decoration: none;
}
/*.footer.footer-alternate .footer-nav-toggle {
    visibility: hidden;
    position: absolute;
    right: 15px;
    top: 2px;
    color: #ea9504;
    font-size: 16px;
    line-height: .85;
    font-weight: 700;
    border: none;
   /* background: transparent;
}
.footer.footer-alternate .footer-nav-toggle button{
  
  background: transparent;
    padding: 0;
    border: 0;
    border-radius: 3px;

}*/

.footer.footer-alternate .footer-nav-title a:hover {
    color: #ffa100;
    text-decoration: none;
   
    box-shadow: 0 0 2px 2px rgba(0,0,0,.25);
}

.footer.footer-alternate .footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-nav-sublist, .footer.footer-alternate .footer-nav-sublist li {
    display: inline-block;
    vertical-align: middle;
}
.footer.footer-alternate .footer-nav-sublist li {
    margin-left: 26px;
}
.footer-nav-sublist, .footer.footer-alternate .footer-nav-sublist li {
    display: inline-block;
    vertical-align: middle;
}
.footer.footer-alternate .footer-nav a {
    font-size: .875rem;
    color: #fff;
}
.footer a:hover, .footer dd a:hover {
    text-decoration: underline;
}



.footer.footer-alternate .footer-col-3 {
    float: right;
    margin-left: 100px;
}
.footer.footer-alternate .footer-social-title {
    font-size: .875rem;
    margin: 1rem 0 .875rem;
    color: #bfbfbf;
    text-transform: uppercase;
}
.footer.footer-alternate .footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer.footer-alternate .footer-social li {
    margin: 12px 0;
}
.footer.footer-alternate .footer-social a {
    font-size: .875rem;
    min-width: 138px;
    background: #fff;
    padding: 8px 12px;
    color: #666;
    font-weight: 700;
    border-radius: 6px;
    display: block;
    width: auto;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.footer.footer-alternate .footer-social-icon {
    font-size: 22px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    width: 24px;
    text-align: center;
}
.footer.footer-alternate .footer-social-icon.fa-facebook-f {
    color: #4267b2;
}

.footer.footer-alternate .footer-social a.footer-social-facebook:hover {
    background: #4267b2;
}
.footer.footer-alternate .footer-social a:hover, .footer.footer-alternate .footer-social a:hover .footer-social-icon {
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    color: #fff;
    text-decoration: none;
}
.footer.footer-alternate .footer-social-icon.fa-youtube {
    color: red;
}
.footer.footer-alternate .footer-social a.footer-social-youtube:hover {
    background: red;
}
.footer.footer-alternate .footer-social-icon.fa-twitter {
    color: #1da1f2;
}
.footer.footer-alternate .footer-social a.footer-social-twitter:hover {
    background: #1da1f2;
}
.footer.footer-alternate .footer-social-icon.fa-pinterest {
    color: #e60023;
}
.footer.footer-alternate .footer-social a.footer-social-pinterest:hover {
    background: #e60023;
}

.fab{

  -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


@media screen and (max-width: 750px){
.footer.footer-alternate .footer-upper {
    padding: 20px 16px;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-col-1 {
    float: none;
    width: 100%;
}}

@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav {
    margin: 0 0 36px;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-section {
    margin: 10px 0;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-title {
    background: #3b3b3b;
    display: block;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-title a {
    width: 90%;
    min-width: 0;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-title a:hover {
    color: #ffa100;
    
    box-shadow: none;
}}

.bushours{
  padding-left: 70px;
}
.ftco-heading-2 {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    position: relative;
    padding-top: 20px; }
 .ftco-heading-2:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 50px;
      height: 2px;
      background: rgba(255, 255, 255, 0.1); }
 .opening-hours h4 {
    color: #fff;
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    font-style: italic; }
  .opening-hours p span {
    color: rgba(255, 255, 255, 0.9); }
    @media screen and (max-width: 992px){
      .bushours{
        padding: 0;

      }
    }


/*@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-toggle {
    visibility: visible;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-toggle {
    right: 0;
    top: 0;
    background: #3b3b3b;
    width: 10%;
    height: 100%;
    border-left: 1px solid #4d4d4d;
    text-align: center;
}}*/

@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-sublist {
    /*-webkit-transition: visibility 
    .4s,max-height .4s;*/
    transition: visibility .4s,max-height .4s;
    visibility: hidden;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-sublist {
    position: relative;
    display: block;
    /*padding: 6px 0 12px;*/
    max-height: 0;
    overflow: hidden;
}}

@media screen and (max-width: 68.75em){

.footer.footer-alternate .footer-nav-sublist li {
    margin-left: 13px;
}}

@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-sublist li {
    display: block;
    margin: 8px 0;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-nav-sublist li a {
    padding: 6px 22px;
    display: block;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-col-3 {
    float: none;
}}
@media screen and (max-width: 74.75em){
.footer.footer-alternate .footer-col-3 {
    float: left;
    margin: 0;
    width: 100%;
}
.footer.footer-alternate .footer-social li{
  display: inline-block;
    margin: 0 8px 0 0;

  }}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-social {
    text-align: center;
}
.footer.footer-alternate .footer-social li {
    width: 43%;
    margin: 8px 6px;
    text-align: left;
}}
@media screen and (max-width: 750px){
.footer.footer-alternate .footer-social {
    background: #585858;
    width: 100%;
    padding: 14px 6px 21px;
    margin: 40px 0 16px;
}}

@media screen and (max-width: 750px){
.footer.footer-alternate .footer-social a {
    padding: 8px 12px 8px 8px;
    min-width: 100%;
}}